<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/vite.svg" />
		<link rel="stylesheet" href="../../styles/main.scss" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Profile &bullet; Resi-Review</title>
	</head>
	<body>
		<header class="container header">
			<a href="/" title="Go to Home">
				<logo-component></logo-component>
			</a>
			<div class="header__loggedin">
				<div>
					<avatar-component></avatar-component>
				</div>
			</div>
		</header>
		<main class="container">
			<div class="logout-conteiner">
				<button type="button" id="logout-btn" class="btn btn--primary">Logout</button>
			</div>
		</main>
		<footer-component></footer-component>
		<script type="module" defer src="./script.ts"></script>
		<script type="module" defer src="../../utils/setAvatar.ts"></script>
		<script type="module" defer src="../../components/Footer.ts"></script>
		<script type="module" defer src="../../components/Logo.ts"></script>
		<script type="module" defer src="../../components/Avatar.ts"></script>
	</body>
</html>
