<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../styles/main.scss" />
		<title>Login &bullet; Resi-Review</title>
	</head>
	<body>
		<div class="auth">
			<div class="auth__left">
				<figure>
					<img
						src="https://images.unsplash.com/photo-1564013799919-ab600027ffc6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
						alt="signup image"
					/>
				</figure>
			</div>
			<div class="auth__right">
				<div class="auth__right__container">
          <div class="auth__header">
            <h1>Login</h1>
            <p>Fill up the login form</p>
          </div>
					<form action="" class="auth-form">
						<div class="form__group">
							<label for="email">Email</label>
							<input
								type="email"
								name="email"
								id="email"
								placeholder="john@gmail.com"
								required
							/>
						</div>
						<div class="form__group">
							<label for="password">Password</label>
							<input type="password" name="password" id="password" required />
						</div>
						<div class="form__submit">
							<button type="submit" class="btn btn--primary">Login</button>
						</div>
					</form>
					<p>Don't have an account? <a href="/src/views/signup/">Signup</a></p>
				</div>
			</div>
		</div>
	</body>
</html>
