<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../styles/main.scss" />
		<!-- Bootstrap Font Icon CSS -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
		/>
		<title>Details &bullet; Resi-Review</title>
	</head>
	<body>
		<header class="container detail-header">
			<div class="detail-header--left">
				<logo-component></logo-component>
			</div>
			<div class="detail-header--right">
				<search-component></search-component>
			</div>
		</header>
		<script defer src="/src/components/Logo.ts"></script>
		<script defer src="/src/components/Search.ts"></script>
	</body>
</html>
