<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../styles/main.scss" />
		<title>Details &bullet; Resi-Review</title>
	</head>
	<body>
		<div class="header-container">
			<header class="container detail-header">
				<div class="detail-header--left">
					<a href="/" title="Go to Home">
						<logo-component></logo-component>
					</a>
				</div>
				<div class="detail-header--right">
					<search-component></search-component>
				</div>
			</header>
		</div>
		<main class="container detail-main">
			<div class="detail-main__left">
				<div class="house">
					<h2 class="house__title" id="house-title"></h2>
					<figure class="house__image">
						<img id="house-image" alt="house image" />
					</figure>
					<div class="house__detail">
						<h3>Review</h3>
						<div class="card__desc--rating">
							<rating-component></rating-component>
						</div>
					</div>
					<guideline-component></guideline-component>
					<div class="review-container">
						<review-parent-component></review-parent-component>
					</div>
					
				</div>
			</div>

			<div class="detail-main__right">
				<form class="form" id="user-review">
					<div class="form__header">
						<div class="form__header--title">
							<h3>Add Review</h3>
							<p>
								Note<span>*</span>: <a href="../login/index.html">Login</a> to
								review
							</p>
						</div>
						<div class="form__header--rate">
							<div class="star-wrapper">
								<input type="radio" name="rating" id="star-1" />
								<label for="star-1" class="star"></label>
								<input type="radio" name="rating" id="star-2" />
								<label for="star-2" class="star"></label>
								<input type="radio" name="rating" id="star-3" />
								<label for="star-3" class="star"></label>
								<input type="radio" name="rating" id="star-4" />
								<label for="star-4" class="star"></label>
								<input type="radio" name="rating" id="star-5" />
								<label for="star-5" class="star"></label>
							</div>
						</div>
					</div>
					<div class="form__estimate">
						<div class="form__estimate--title">
							<p>Social Estimation:</p>
							<p id="estimate-value">$5000*</p>
						</div>
						<input
							type="range"
							name="estimate"
							id="estimate"
							min="2000"
							max="1000000"
							value="5000"
							placeholder="Estimate"
						/>
					</div>
					<div class="form__textarea">
						<textarea
							name="review"
							id="review"
							cols="30"
							rows="10"
							placeholder="Review"
							required
						></textarea>
					</div>
					<div class="form__options">
						<div class="form__options--item">
							<input type="checkbox" id="anonymous" name="anonymous" />
							<label for="anonymous">Anonymous</label>
						</div>
						<div class="form__options--item">
							<input type="checkbox" id="owner" name="owner" />
							<label for="owner">I'm the owner of the property.</label>
						</div>
					</div>
					<p class="error" id="error"></p>
					<div class="form__submit">
						<button type="submit" class="btn btn--primary">Add review</button>
					</div>
				</form>
				<hr />
				<div class="map">
					<h4>See house on map</h4>
					<figure>
						<img alt="map image" id="location-image" />
					</figure>
				</div>
				<div class="review-container--small">
					<review-parent-component></review-parent-component>
				</div>
			</div>
		</main>
		<footer-component></footer-component>
		<script type="module" defer src="./script.ts"></script>
		<script type="module" defer src="../../components/ReviewParent.ts"></script>
		<script type="module" defer src="../../components/Logo.ts"></script>
		<script type="module" defer src="../../components/Search.ts"></script>
		<script type="module" defer src="../../components/Rating.ts"></script>
		<script type="module" defer src="../../components/Review.ts"></script>
		<script type="module" defer src="../../components/Guideline.ts"></script>
		<script type="module" defer src="../../components/Footer.ts"></script>
	</body>
</html>
