@use "./variables" as v;

@mixin breakpoint($size) {
	@media (min-width: map-get(v.$breakpoints-up,$size)) {
		@content;
	}
}

@mixin flex($direction: row, $align: stretch, $justify: flex-start) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}
