@use "./functions" as f;

// colors
$clr-primary-dark: hsl(220, 81%, 33%);
$clr-primary: hsl(235, 80%, 58%);
$clr-primary-light: hsl(220, 83%, 77%);
$clr-primary-ultra-light: hsl(218, 73%, 97%);
$clr-rosa: hsl(0, 100%, 92%);
$clr-danger: hsl(0, 100%, 50%);
$clr-success: hsl(120, 100%, 25%);
$clr-warning: hsl(45, 100%, 50%);
$clr-info: hsl(180, 100%, 25%);
$clr-black:hsl(0, 0%, 0%);
$clr-gray: hsl(0, 0%, 50%);
$clr-light-gray: hsl(0, 1%, 73%);
$clr-white: hsl(0, 0%, 100%);

$breakpoints-up: (
	"small": f.rem(525),
	"medium": f.rem(640),
	"midsize": f.rem(768),
	"large": f.rem(1024),
	"extra-large": f.rem(1280),
);

// font-size
$text-xs: f.rem(12);
$text-sm: f.rem(14);
$text-base: f.rem(16);
$text-lg: f.rem(18);
$text-xl: f.rem(20);
$text-2xl: f.rem(24);
$text-3xl: f.rem(30);
$text-4xl: f.rem(36);
$text-5xl: f.rem(48);

//font-weight
$font-thin: 100;
$font-extralight: 200;
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;//yes
$font-bold: 700;
$font-extrabold: 800;//yes
$font-black: 900;//yes
