@use "../abstracts" as a;

.card {
	@include a.flex(column);
	border-radius: a.rem(8);
	background-color: #fff;
	max-width: a.rem(250);
	cursor: pointer;
	@include a.breakpoint(medium) {
		max-width: a.rem(300);
	}
	@include a.breakpoint(midsize) {
		max-width: a.rem(350);
	}
	@include a.breakpoint(extra-large) {
		max-width: a.rem(370);
	}
	&__image {
		margin: 0;
		padding: 0;
    overflow: hidden;
    border-radius: a.rem(8);
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
      border-radius: 0 0 a.rem(8) a.rem(8);
			&:hover {
        transform: scale(1.1);
        transition: transform 0.5s ease-in-out;
			}
		}
	}
	&__desc {
		@include a.flex(column);
		&--title {
			font-size: a.$text-base;
			font-weight: a.$font-semibold;
			margin-top: a.rem(5);
			color: a.$clr-gray;
			padding-inline: a.rem(15);
			border-bottom: a.rem(1) solid a.$clr-light-gray;
			padding-bottom: a.rem(10);
		}
		&--info {
			@include a.flex(row, center, space-between);
			padding-inline: a.rem(15);
			padding-bottom: a.rem(15);
		}
		&--rating {
			@include a.flex(row, center);
		}
		&--star {
			color: a.$clr-warning;
		}
		&--rating-value {
			margin-left: a.rem(5);
			font-size: a.$text-sm;
			font-weight: a.$font-semibold;
		}
		&--reviews {
			margin-left: a.rem(5);
			font-size: a.$text-sm;
			font-weight: a.$font-semibold;
			color: a.$clr-light-gray;
			white-space: nowrap;
		}
		&--price {
			font-size: a.$text-sm;
			font-weight: a.$font-semibold;
			color: a.$clr-black;
			font-family: "Open Sans", sans-serif;
			margin-top: a.rem(5);
			@include a.breakpoint(large) {
				font-size: a.$text-base;
			}
		}
	}
}
