@use "../abstracts" as a;

input[type="range"] {
	width: 100%;
}

input[type="range"]{
	-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: a.$clr-light-gray;
	border-radius: a.rem(20);
	height: a.rem(4);
	margin-bottom: a.rem(15);
	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		width: a.rem(16);
		height: a.rem(16);
		border-radius: 50%;
		background: a.$clr-white;
		cursor: pointer;
		border: a.rem(5) solid a.$clr-light-gray;
	}
}

textarea {
	width: 100%;
	border-color: a.$clr-primary;
	border-radius: a.rem(4);
	padding: a.rem(10);
	&:focus-visible {
		outline: none;
		box-shadow: 0 0 0 a.rem(2) a.$clr-primary-light;
		border: none;
	}
}
