@use "../abstracts" as a;

.review {
	font-size: a.$text-xs;
	@include a.flex();
	gap: a.rem(10);
	&--left {
		@include a.flex(column);
	}
	&--right {
		@include a.flex();
		gap: a.rem(10);
    font-weight: a.$font-semibold;
    @include a.breakpoint(large) {
      font-size: a.$text-sm;
    }
	}
	&__star {
		@include a.flex();
		gap: a.rem(5);
    i{
      color: a.$clr-warning;
    }
	}
	&__author {
		font-weight: a.$font-extrabold;
    @include a.breakpoint(large) {
      font-size: a.$text-sm;
    }
	}
	&__timestamp {
		color: a.$clr-gray;
	}
	&__header {
		@include a.flex(row,center);
    margin-bottom: a.rem(4);
		h4 {
			margin: 0;
		}
	}
	&__bullet {
		padding-inline: a.rem(8);
		color: a.$clr-gray;
	}
	&__reply-btn {
		border: none;
		font-size: a.$text-sm;
		font-weight: a.$font-semibold;
		color: a.$clr-black;
		@include a.breakpoint(large) {
			font-size: a.$text-base;
		}
	}
	&__likes {
		@include a.flex(row,center);
		gap: a.rem(8);
		color: a.$clr-primary;
		font-weight: a.$font-semibold;
    font-size: a.$text-sm;
	}
  
	&__bottom {
		@include a.flex(row,center);
	}
	&__text {
		font-family: "Lato", sans-serif;
		font-size: a.$text-sm;
		color: a.$clr-gray;
    line-height: 1.5;
    letter-spacing: 0.2px;
		span {
			font-weight: a.$font-semibold;
			color: a.$clr-primary;
			white-space: nowrap;
		}
	}
}

.review-container {
	@include a.flex(column);
	gap: a.rem(30);
}
