@use "../abstracts" as a;

.footer{
  border-top: a.rem(2) solid a.$clr-light-gray;
  margin-top: 20vh;
  padding: a.rem(15) 0;
  color: a.$clr-gray;
}

.footer-content{
  @include a.flex(column, center, space-between);
  gap: a.rem(8);
  @include a.breakpoint(medium) {
    @include a.flex(row, flex-start, space-between);
    gap: a.rem(10);
  }
  a{
    color: inherit;
  }
}