@use "../abstracts" as a;

.form {
	background-color: a.$clr-white;
	border-radius: a.rem(8);
	padding: a.rem(25);
	margin-bottom: a.rem(40);

	&__header {
		@include a.flex(row, center, space-between);
		margin-bottom: a.rem(25);
		h3 {
			margin: 0;
			font-size: a.$text-lg;
			font-family: "Lato", sans-serif;
		}
		&--rate {
			white-space: nowrap;
			color: a.$clr-warning;
		}
		&--title{
			p{
				font-size: a.$text-xs;
				color: a.$clr-light-gray;
			}
			span{
				color: a.$clr-danger;
			}
			a{
				color: a.$clr-primary;
				font-weight: a.$font-semibold;
			}
		}
	}
	&__estimate {
		border: a.rem(1) solid a.$clr-light-gray;
		border-radius: a.rem(4);
		padding: a.rem(15) a.rem(10);
		margin-bottom: a.rem(30);
		&--title {
			@include a.flex(row, center, space-between);
			margin-bottom: a.rem(40);
			p {
				font-size: a.$text-sm;
				font-weight: a.$font-semibold;
			}
			input {
				background-color: a.$clr-gray;
			}
		}
	}
	&__textarea {
		font-size: a.$text-sm;
	}
	&__options {
		@include a.flex(column, flex-start);
		// gap: a.rem(10);
		margin-bottom: a.rem(30);
		margin-top: a.rem(20);
		font-size: a.$text-sm;
		font-weight: a.$font-bold;
		&--item{
			@include a.flex(row,center);
			gap: a.rem(10);
		}
	}
	&__submit {
		width: 100%;
		.btn {
			width: 100%;
			padding-block: a.rem(10);
		}
	}
	&__group {
		
		@include a.flex(column, flex-start, center);
		gap: a.rem(8);
		font-size: a.$text-base;
		font-weight: a.$font-medium;
		width: 100%;
		input{
			width: 100%;
		}
		div{
			width: 100%;
			position: relative;
		}
		i{
			position: absolute;
			right: a.rem(10);
			top: 50%;
			transform: translateY(-50%);
			cursor: pointer;
		}
	}
	&__terms{
		width: 100%;
		@include a.flex(row, center, flex-start);
		gap: a.rem(10);
		font-size: a.$text-sm;
	}
}


