@use "../abstracts" as a;

.header {
	@include a.flex(row, center, space-between);
	margin-top: a.rem(30);
	&__logo {
		display: flex;
		align-items: center;
		gap: a.rem(10);
		&--icon {
			@include a.flex(row, center, center);
			background-color: a.$clr-primary;
			color: a.$clr-primary-ultra-light;
			border-radius: a.rem(10);
			padding: a.rem(5) a.rem(10);
			font-size: a.$text-2xl;
			width: a.rem(35);
			height: a.rem(35);
		}
		&--text {
			color: a.$clr-primary;
			font-size: a.$text-xl;
			font-weight: a.$font-extrabold;
			white-space: nowrap;
		}
	}
}

.detail-header {
	@include a.flex(row, center, space-between);
	gap: a.rem(30);
	&--right{
		width: 80%;
	}
	
	.search-section {
		width: 100%;
		margin-top: 0;
		&__location{
			display: none;
			@include a.breakpoint(small) {
				display: block;
			}
		}
		&__input {
			padding: a.rem(10) a.rem(40) a.rem(10) a.rem(20) !important;
			height: auto;
			@include a.breakpoint(small) {
				padding: a.rem(10) a.rem(40) a.rem(10) a.rem(40) !important;
			}
			@include a.breakpoint(medium) {
				padding: a.rem(10) a.rem(60) a.rem(10) a.rem(45) !important;
			}
			&::placeholder {
				color: a.$clr-gray;
				font-size: a.$text-sm;
				@include a.breakpoint(medium) {
					font-size: a.$text-base;
				}
			}
		}
		&__search{
			font-size: a.$text-xs;
			width: a.rem(40);
			@include a.breakpoint(medium) {
				font-size: a.$text-base;
			}
		}
	}
}

.header-container{
	padding: a.rem(25) 0;
	border-bottom: a.rem(2) solid a.$clr-light-gray;
}