@use "../abstracts" as a;

.header {
	&__logo {
		&--icon{
			background-color: a.$clr-primary;
			color: a.$clr-primary-ultra-light;
			border-radius: a.rem(10);
			padding: a.rem(5);
		}
		&--text {
			color: a.$clr-primary-dark;
		}
	}
}
